
.capture-js {
  padding: 15px;
  background: rgba(0, 0, 0, 0.08);
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.capture-js .toolbar-icons i {
  margin-right: 8px;
}

.capture-js .toolbar-icons a {
  margin-right: 5px;
}




